<ul>
  <% if authorised? %><li><a href="/ask">Ask</a></li><% end %>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <% if authorised? %><li><a href="/logout">Logout</a></li><% end %>
</ul>

<p>Users:</p>

<ul>
  <% @users.each do |user| -%>
  <li><a href="/user/<%= user.username %>"><%= user.username %></a></li>
  <% end -%>
</ul>

<p>Questions:</p>

<ul>
  <% @questions.each do |question| -%>
  <li><a href="/view/<%= question.id %>"><%= question.title %></a> asked by <%= question.user.username %></li>
  <% end -%>
</ul>