- content_for :title, @issue.title

#main-container

  #issue
  
    .edit
    
      - if delete_allowed?(@issue)
        #{link_to('Remove', "/issues/#{@issue.id}/delete")}
  
    %h1= @issue.title
    %p.info opened by #{@issue.user.username} on #{natural_date(@issue.opened_on)}
    %p.issue-content= @issue.content
  
  #responses
  
    - @responses.each do |response|
  
      .response{:id => "response_#{response.id}"}
      
        .edit
        
          - if delete_allowed?(response)
            #{link_to('Remove', "/issues/#{@issue.id}/responses/#{response.id}/delete")}
      
        %p= response.content
        %p.info responsed by #{response.user.username} on #{natural_date(response.responded_on)}
  
  - if authorised?
  
    %form#new-response{:action => "/issues/#{@issue.id}/responses/new", :method => "post"}
    
      %label Respond
      %textarea{:name => "response_content"}
      
      %input.styled-button{:type => "submit", :value => "Submit new response"}
      
  - else
  
    %p #{link_to('Sign in', "/signin?return_to=#{request.path}")} to respond.
    
#side-container

  - if @issue.tags
  
    #tags
  
      - @issue.tags.each do |tag|
    
        %span= tag.name