
<h1><%= @issue.title %></h1>

<div><%= @issue.content %></div>

<% @issue.responses.each do |response| %>
<div><%= response.content %> by <%= response.user.username %></div>
<% end %>

  <form action="/issues/<%= @issue.id %>/respond" method="post">
    <div><textarea cols="40" rows="20" name="response_content">Respond</textarea></div>
    <div><input type="submit" value="Respond"></div>
  </form>