- content_for :title, @issue.title

- new_response = json_from_flash(flash[:new_response])

#main-container

  #issue
  
    - unless @edit_issue
    
      .edit
      
        %ul
          - if edit_allowed?(@issue)
            %li= link_to('Edit', edit_issue_path(@issue))
          - if delete_allowed?(@issue)
            %li= link_to('Remove', delete_issue_path(@issue))
    
      %h1= @issue.title
      %p.info opened by #{link_to(@issue.user.username, user_path(@issue.user))} on #{natural_date(@issue.opened_on)}
      %p.issue-content= markdown(@issue.content)
     
    - else
    
      - # Edit issue
    
      %form#edit-issue{:action => edit_issue_path(@issue), :method => "post"}
        %input{:type => "text", :name => "issue_title", :value => @issue.title}
        %textarea{:name => "issue_content"}= @issue.content
        %input.styled-button{:type => "submit", :value => "Save"}
        %a.styled-button.close{:href => issue_path(@issue)} Close
  
  #responses
  
    - @responses.each do |response|
  
      .response{:id => "response_#{response.id}", :class => ensure_answer_class(response)}
      
        - unless @edit_response && response.id == @edit_response.id
        
          .edit
          
            %ul
              - if edit_allowed?(@issue)
                - if response != @issue.answer
                  %li= link_to("Mark as answer", mark_as_answer_path(response))
                - else
                  %li= link_to("Unmark as answer", unmark_as_answer_path(response))
              - if edit_allowed?(response)
                %li= link_to('Edit', edit_response_path(response))
              - if delete_allowed?(response)
                %li= link_to('Remove', delete_response_path(response))
          
          %p.response-content= markdown(response.content)
          %p.info #{response_status(response)} by #{link_to(response.user.username, user_path(response.user))} on #{natural_date(response.responded_on)}
         
        - else
        
          - # Edit response
        
          %form#edit-issue{:action => edit_response_path(response), :method => "post"}
            %textarea{:name => "response_content"}= response.content
            %input.styled-button{:type => "submit", :value => "Save"}
            %a.styled-button.close{:href => issue_path(@issue)} Close       
  
  - if authorised?
  
    %form#new-response{:action => new_response_path(@issue), :method => "post"}
    
      %label{:class => ensure_error_class(new_response["content"])} Respond
      %textarea{:name => "response_content"}= new_response["content"]
      %input.styled-button{:type => "submit", :value => "Submit new response"}
      
  - else
  
    %p #{link_to('Sign in', sign_in_path(request.path))} to respond.
    
#side-container

  %div.status= issue_status(@issue)

  - if @issue.tags
  
    #tags
  
      - @issue.tags.each do |tag|
    
        %span
          =link_to(tag.name, tag_path(tag))
          
          - if edit_allowed?(@issue)
            
            - # Delete tagging
            
            %span.remove-tag
              =link_to('x', delete_tagging_path(@issue, tag))
              
      - if edit_allowed?(@issue)
      
        - # Add tag
        
        %form#add-tag{:action => add_tagging_path(@issue), :method => "post"}
          %input{:type => "text", :name => "tag_name"}
          %input.styled-button{:type => "submit", :value => "Add tag"}