- content_for :title, @issue.title

#main-container

  #issue
  
    - unless @edit_issue
    
      .edit
      
        - if edit_allowed?(@issue)
          =link_to('Edit', "/issues/#{@issue.id}/edit")
        - if delete_allowed?(@issue)
          =link_to('Remove', "/issues/#{@issue.id}/delete")
    
      %h1= @issue.title
      %p.info opened by #{@issue.user.username} on #{natural_date(@issue.opened_on)}
      %p.issue-content= Redcarpet.new(@issue.content).to_html
      
    - else
    
      %form#edit-issue{:action => "/issues/#{@issue.id}/edit", :method => "post"}
        %input{:type => "text", :name => "issue_title", :value => @issue.title}
        %textarea{:name => "issue_content"}= @issue.content
        %input.styled-button{:type => "submit", :value => "Save"}
        %a.styled-button.close{:href => "/issues/#{@issue.id}/title/#{urlify(@issue.title)}"} Close
  
  #responses
  
    - @responses.each do |response|
  
      .response{:id => "response_#{response.id}"}
        
        - unless @edit_response && response.id == @edit_response.id
        
          .edit
          
            - if edit_allowed?(response)
              =link_to('Edit', "/issues/#{@issue.id}/responses/#{response.id}/edit")
            - if delete_allowed?(response)
              #{link_to('Remove', "/issues/#{@issue.id}/responses/#{response.id}/delete")}
          
          %p= Redcarpet.new(response.content).to_html
          %p.info responsed by #{response.user.username} on #{natural_date(response.responded_on)}
          
        - else
        
          %form#edit-issue{:action => "/issues/#{@issue.id}/responses/#{response.id}/edit", :method => "post"}
            %textarea{:name => "response_content"}= response.content
            %input.styled-button{:type => "submit", :value => "Save"}
            %a.styled-button.close{:href => "/issues/#{@issue.id}/title/#{urlify(@issue.title)}"} Close       
  
  - if authorised?
  
    %form#new-response{:action => "/issues/#{@issue.id}/responses/new", :method => "post"}
    
      %label Respond
      %textarea{:name => "response_content"}
      
      %input.styled-button{:type => "submit", :value => "Submit new response"}
      
  - else
  
    %p #{link_to('Sign in', "/signin?return_to=#{request.path}")} to respond.
    
#side-container

  - if @issue.tags
  
    #tags
  
      - @issue.tags.each do |tag|
    
        %span= tag.name