!!!
%html
  %head
    %title= yield_content :title
    = stylesheet_link_tag timestamped_filename('./public/style.css')
  %body
  
    #wrapper
  
      #user-nav
      
        %ul
          - unless authorised?
            %li= link_to('Sign in' , '/signin')
            %li= link_to('Sign up' , '/signup')
          - else
            %li= authorised_user.username
            %li= link_to('Logout' , '/logout') 
        
      #main-nav
      
        %ul
          %li.styled-button= link_to('Issues' , '/')
          %li.styled-button= link_to('New issue' , '/issues/new')
          - unless authorised?
            %li.styled-button= link_to('My issues' , '/')
          %li.styled-button= link_to('Tags' , '/tags')
        
      #container= yield