!!!
%html
  %head
    %title Issues &#8211; #{yield_content :title}
    = stylesheet_link_tag timestamped_filename('./public/style.css')
  %body
  
    #wrapper
  
      #user-nav
      
        %ul
          - unless authorised?
            %li= link_to('Sign in' , sign_in_path(request.path))
            %li= link_to('Sign up' , sign_up_path)
          - else
            %li= authorised_user.username
            %li= link_to('Logout' , logout_path) 
        
      #main-nav
      
        %ul
          %li.styled-button= link_to('Issues' , '/')
          %li.styled-button= link_to('New issue' , new_issue_path)
          - if authorised?
            %li.styled-button= link_to('My issues' , '/')
          %li.styled-button= link_to('Tags' , '/tags')
        
      #container= yield