!!!
%html
  %head
    %title Issues &#8211; #{yield_content :title}
    = stylesheet_link_tag timestamped_filename('./public/style.css')
    = javascript_script_tag 'issues.js'
  %body
  
    #wrapper
  
      #user-nav
      
        %ul
          - unless authorised?
            %li= link_to('Sign in' , sign_in_path(request.path))
            %li= link_to('Sign up' , sign_up_path)
          - else
            %li= link_to(authorised_user.username, user_path(authorised_user))
            %li= link_to('Logout' , logout_path)
        
      #main-nav
      
        %form#search{:action => search_path, :method => "post"}
          %label Search
          %input{:type => "text", :name => "search_value"} 
      
        %ul
          %li.styled-button= link_to('Issues' , root_path)
          %li.styled-button= link_to('New issue' , new_issue_path)
          - if authorised?
            %li.styled-button= link_to("My issues (#{authorised_user.issues.count})" , authorised_user_issues_path)
          %li.styled-button= link_to('Tags' , tags_path) 
      
      #container= yield