- content_for :title, @user.username

#profile

  - if edit_allowed?(@user)
  
    .edit
    
      %ul
        %li= link_to('Edit', edit_user_path(@user))

  %h1= @user.username
  
  - if @user.name
    %p.info= @user.name
  
  %p
    %span.strong Registered since
    =natural_date(@user.registered_on)
  
  - if @user.location
  
    %p
      %span.strong Location 
      = @user.location
  
  - unless @user.www.empty?
  
    %p 
      %span.strong WWW
      = markdown(@user.www)
    
  - if @user.description
  
    %p
      %span.strong Description
      = markdown(@user.description)