<a href="/">Home</a>

<h1><%= @question.title %></h1>
<p>asked by <%= @question.user.username %> on <%= @question.asked_on %></p>

<p><%= @question.message %></p>

<% @question.answers.each do |answer| %>
  <div><%= answer.message %> by <%= answer.user.username %></div>
<% end %>

<form action="/answer/<%= @question.id %>" method="post">
  <textarea name="message" rows="10" cols="30"></textarea><br>
  <input type="submit" value="Answer">
</form>